NODE_ENV=""

DATABASE_URL=""

EMAIL_ENABLED=false

REDIS_HOST=""
REDIS_PORT=
REDIS_PASSWORD=""
REDIS_USER=""

# Required only if EMAIL_ENABLED=true
RESEND_API_KEY=""
RESEND_CONFIRMATION_TEMPLATE_ID=""

# Override if process.cwd() doesn't resolve to the project root (e.g. Docker)
PROJECT_ROOT=""

# Domain configuration for CORS
APP_DOMAIN=""
